
# data & resources
outputs/
assets/
temp/
demo/
datasource/

# setup
data_juicer.egg-info/
py_data_juicer.egg-info/
py_data_flow.egg-info/
build/
dist

# others
.DS_Store
.idea/
wandb/
__pycache__
.vscode/
