click==8.1.8
kubernetes==32.0.1
loguru==0.7.3
PyMySQL==1.1.1
pymongo==4.13.2
pyhive==0.7.0
thrift==0.22.0
celery==5.5.3
eventlet==0.40.1
nbformat
transformers
mammoth
markdownify
python-pptx
apscheduler
thrift_sasl
python-multipart
gevent